.order_line {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    background: white;
    margin: 15px;
}

.label_row {
    font-size: 0.8em;
    line-height: 0.7em;
}